{sys, [
  {lib_dirs, ["/Users/dyuan/IdeaProjects/LYSE/release/"]}, % what directories to look inside for libraries
%%  {erts, [{vsn, "5.8.3"}]},
  {rel, "erlcount", "1.0.0", [    % the applications to be included in the release
    kernel,
    stdlib,
    {ppool, permanent},
    {erlcount, transient}
  ]},
  {boot_rel, "erlcount"},         % default release to boot with the erl executable (don't need to specify the boot file)
%%
  {relocatable, true},            % run the release from everywhere or only from a hard coded path
  {profile, standalone},          % specify default *_filters based on type of release
  {app, ppool, [                  % specify application-wide options
    {vsn, "1.0.0"},
    {app_file, all},
    {debug_info, keep}
  ]},
  {app, erlcount, [
    {vsn, "1.0.0"},
    {incl_cond, include},
    {app_file, strip},
    {debug_info, strip}           % decide whether to keep or drop debug_info when compile
  ]}
]}.