{sys, [
  {lib_dirs, ["/Users/dyuan/IdeaProjects/LYSE/release/"]},
  {erts, [{mod_cond, derived},         % controls the module inclusion policy
          {app_file, strip}]},
  {rel, "erlcount", "1.0.0", [kernel, stdlib, ppool, erlcount]},
  {boot_rel, "erlcount"},
  {relocatable, true},
  {profile, embedded},
  {app_file, strip},                   % manages how the app files are going to be managed when include an application
  {debug_info, strip},
  {incl_cond, exclude},                % decides how to include applications not necessarily specified in the rel tup
  {excl_app_filters, ["_tests.beam$"]},
  {app, stdlib, [{incl_cond, include}]},
  {app, kernel, [{incl_cond, include}]},
  {app, ppool, [{vsn, "1.0.0"}, {incl_cond, include}]},
  {app, erlcount, [{vsn, "1.0.0"}, {incl_cond, include}]}
]}.